#####################################
# FRONTEND
#####################################
BETTER_AUTH_SECRET=your_better_auth_secret_here
BETTER_AUTH_URL=http://localhost:3000 
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000
EMAIL_VERIFICATION_CALLBACK_URL=http://localhost:3000/email-verified

MONGODB_URI=mongodb://localhost:27017/dubme

# Google OAuth (opzionale)
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# GitHub OAuth (opzionale)
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret

# Email (opzionale)
GMAIL_USER=your_email@gmail.com
GMAIL_PASS=your_app_password

# API
NEXT_PUBLIC_BACKEND_API_URL=http://localhost:4000
BACKEND_API_URL=http://localhost:4000
API_JWT_SECRET=your_jwt_secret_here



#####################################
# BACKEND - GoFiber
#####################################

# Porta interna
PORT=4000

# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB=dubme

# CORS
CORS_ORIGINS=http://localhost:3000,http://frontend:3000

# Secret per JWT
API_JWT_SECRET=your_jwt_secret_here

# File asset di test (es. generator) Momentaneo, poi sarà sostituito 
GENERATOR_TEST_MP4=assets/test.mp4

#####################################
# MinIO
#####################################
MINIO_ENDPOINT=localhost:9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=dubme
MINIO_USE_SSL=false
MINIO_PUBLIC_URL=http://localhost:9000

# URL del microservizio generator (dentro la network Docker)
GENERATOR_URL=http://generator:7001