node_modules/
/frontend/node_modules

# MinIO system files
start/
/frontend/.next
/frontend/out
/frontend/build
/frontend/.env*
/frontend/next-env.d.ts
/frontend/.vercel
/frontend/*.tsbuildinfo
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

/backend/bin
/backend/vendor
/backend/.env
/backend/*.log

.env
*.log
.DS_Store
*.pem

.vscode/
.idea/
*.swp
